.guide-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgb(104, 146, 119);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px #ffffff1a;
}

.guide-title {
    text-align: center;
    color: #ffcc00;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.guide-step {
    background: rgb(84, 126, 99);
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    padding: 10px 10px;
}

.guide-step-title {
    color: #ffcc00;
    font-weight: bold;
}

.guide-link {
    text-align: left;
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.guide-step p, li{
    text-align: left;
    padding-left: 15px;
    line-height: 2;
}